<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
	<!-- barre de navigation -->
	<nav th:fragment="head">
		<div class="div-gauche">
			<img alt="TataneLand" src="../img/TataneLand.png" th:src="@{/img/TataneLand.png}" height="40">
			<div class="onglet">
				<p>
					<a href="/tataneland2/acceuil">Acceuil</a>
				</p>
				<p>
					<a href="/tataneland2/users">Users</a>
				</p>
				<p>
					<a href="/tataneland2/actors">Actors</a>
				</p>
				<p>
					<a href="/tataneland2/movies">Movies</a>
				</p>
			</div>
		</div>
		<div class="div-droite">
			<p>
				<i class="fas fa-search"></i>
			</p>
			<p>
				<i class="fas fa-bell"></i>
			</p>
			<p>Mon compte</p>
		</div>
	</nav>
	<!-- fin de la barre de navigation -->
</body>
</html>