@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.films {
	background-color: #191a1a;
	padding: 25px;
}

.films .section {
	margin-bottom: 55px;
}

.films .section h2 {
	color: #fff;
}

/* fonctionne pas on vois la barre de défilement et on ne peut pas scroll avec la souris */
.films .section .list {
	display: flex;
	overflow-x: auto;
	padding-bottom: 10px;
	padding-top: 5px;
	overflow-x: hidden;
}

.films .section a {
	padding-left: 5px;
	transition: transform 0.25s; /* l'image ne s'agrandit pas immédiatement */
}

/* marche pas devrais agrandir l'image */
.films .section a:hover {
	transform: scale(1.05);
}
