@charset "ISO-8859-1";

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
} 

/* barre de navigation */

/* barre de navigation gauche */
nav  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: black;
	color: #fff;
}

nav .div-gauche {
	display: flex;
	flex-wrap: wrap;
}

nav .div-gauche img {
	padding-top: 5px;
}

nav .div-gauche .onglet {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}

nav .div-gauche .onglet p {
	margin-left: 10px;
	cursor: pointer;
	color: #909191;
}

nav .div-gauche .onglet p:hover {
	color: #fff;
}

/* fin barre de navigation droite */

/* barre de navigation droite */

nav .div-droite {
	display: flex;
	flex-wrap: wrap;
}

nav .div-droite p {
	margin-right: 10px;
	cursor: pointer;
}

/* barre de navigation droite*/

/* Fin barre de navigation */

.films {
	background-color: #191a1a;
	padding: 25px;
}

.films .section {
	margin-bottom: 55px;
}

.films .section h2 {
	color: #fff;
}

/* fonctionne pas on vois la barre de défilement et on ne peut pas scroll avec la souris */
.films .section .list {
	display: flex;
	overflow-x: auto;
	padding-bottom: 10px;
	padding-top: 5px;
	overflow-x: hidden;
}

.films .section a {
	padding-left: 5px;
	transition: transform 0.25s; /* l'image ne s'agrandit pas immédiatement */
}

/* marche pas devrais agrandir l'image */
.films .section a:hover {
	transform: scale(1.05);
}

footer {
	background-color: #191a1a;
	padding: 25px 100px;
	color: #909191;
}

footer .colonnes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
