@charset "ISO-8859-1";

body {
	background-color : black;
}

h1 {
	font-size : 33px;
	padding-left: 10px;
	color : white;
}

.container {
	background-color : #191a1a;
}

.table {
	--bs-table-bg : #191a1a;
	--bs-table-color : white;
}