@charset "ISO-8859-1";

body {
	background-color : black;
}

nav {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

nav .onglet {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}

nav .onglet p a {
	margin-left: 10px;
	cursor: pointer;
	color: #909191;
}

nav .onglet p a:hover {
	color: #fff;
}

h1 {
	font-size : 33px;
	padding-left: 10px;
	color : white;
}

.container {
	background-color : #191a1a;
}

.table {
	--bs-table-bg : #191a1a;
	--bs-table-color : white;
}