<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/acceuil.css}">
<link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
<!-- barre de navigation -->
	<nav>
		<div class="div-gauche">
			<img alt="" th:src="@{img/TataneLand.png}" height="40">
			<div class="onglet">
				<p>Acceuil</p>
				<p>Films récent</p>
				<p>Films les plus regardés</p>
				<p>Ajouts récents</p>
			</div>
		</div>
		<div class="div-droite">
			<p><i class="fas fa-search"></i></p>
			<p><i class="fas fa-bell"></i></p>
			<p>Mon compte</p>
		</div>
	</nav>
<!-- fin de la barre de navigation -->

<!-- début des sections -->
	<section class="films">
		<!-- début section des derniers films ajoutés -->
		<section class="section last">
			<h2>Films récents</h2>
			<div class="list">
				<a href=""><img alt="" th:src="@{img/Yip_Man.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/The_Raid.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_2_Last_Man_Standing.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_3_Redemption.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_4_Boyka.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/undisputed.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_3.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_4.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_chin_Chyun.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_Jung_gik_yat_zin.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_2.jpg}"></a>
			</div>
		</section>
		<!-- fin section dernier films ajoutés -->
		<!-- début section des films les plus regardés -->
		<section class="section best">
			<h2>Films Best</h2>
			<div class="list">
				<a href=""><img alt="" th:src="@{img/Yip_Man.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_3.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_4.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_chin_Chyun.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_Jung_gik_yat_zin.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man_2.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Yip_Man.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/The_Raid.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_2_Last_Man_Standing.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_3_Redemption.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/Undisputed_4_Boyka.jpg}"></a>
				<a href=""><img alt="" th:src="@{img/undisputed.jpg}"></a>
			</div>
		</section>
		<!-- fin section des films les plus regardés -->
	</section>
<!-- fin des sections -->
	<footer>
		<h5>Des questions ? appeler le 0606060606</h5>
		<div class="colonnes">
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
		</div>
	</footer>
<!-- début du footer -->
<!-- fin du footer -->

</body>
</html>