<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/acceuil.css}">
<link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
<!-- barre de navigation -->
	<nav>
		<div class="div-gauche">
			<img alt="" src="https://i.ibb.co/XW2vnBh/Netflix-logo.png" height="40">
			<div class="onglet">
				<p>Acceuil</p>
				<p>Films récent</p>
				<p>Films les plus regardés</p>
				<p>Ajouts récents</p>
			</div>
		</div>
		<div class="div-droite">
			<p><i class="fas fa-search"></i></p>
			<p><i class="fas fa-bell"></i></p>
			<p>Mon compte</p>
		</div>
	</nav>
<!-- fin de la barre de navigation -->

<!-- début des sections -->
	<section class="films">
		<!-- début section des derniers films ajoutés -->
		<section class="section last">
			<h2>Films récents</h2>
			<div class="list">
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p1.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p2.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p3.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p4.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p5.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p6.PNG"></a>
			</div>
		</section>
		<!-- fin section dernier films ajoutés -->
		<!-- début section des films les plus regardés -->
		<section class="section best">
			<h2>Films Best</h2>
			<div class="list">
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p7.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p8.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p9.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p10.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p11.PNG"></a>
				<a href=""><img alt="" src="https://raw.githubusercontent.com/carlosavilae/Netflix-Clone/refs/heads/master/img/p12.PNG"></a>
			</div>
		</section>
		<!-- fin section des films les plus regardés -->
	</section>
<!-- fin des sections -->
	<footer>
		<h5>Des questions ? appeler le 0606060606</h5>
		<div class="colonnes">
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
		</div>
	</footer>
<!-- début du footer -->
<!-- fin du footer -->

</body>
</html>