<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
	<!-- début du footer -->
	<footer th:fragment="foot">
		<h5>Des questions ? appeler le 0606060606</h5>
		<div class="colonnes">
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
			<div class="colonne">
				<p>FAQ</p>
				<p>Relations investisseurs</p>
				<p>Modes de lecture</p>
				<p>Mentions légales</p>
				<p>Programmes originaux Tataneland</p>
			</div>
		</div>
	</footer>
</body>
</html>