<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/newUser.css}">
</head>
<body>
	<nav class="nav">
		<img alt="" th:src="@{img/TataneLand.png}" height="40">
		<h1>Create User</h1>
	</nav>
	<div class="container">
		<form th:action="@{/user/save}" th:object="${user}" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
				<div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="text-danger"></div>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="text" id="password" th:field="*{password}" class="form-control" placeholder="Password">
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</body>
</html>